#posicionamento {
  padding-top: 20%;
  padding-left: 0%;
  width: 100vw;
  height: 100vh;
  //background-image: url(assets/icon\spiderman-logo-illustration.jpg);
  //background-repeat: no-repeat;
  
  
}

.Botao {
  padding-left: 7px;
}

h1 {
  text-align: center;
  padding-right: 38px ;
}